/build/**
/coverage/**
/docs/**
/jsdoc/**
/templates/**
/tests/bench/**
/tests/fixtures/**
/tests/performance/**
/tmp/**
test.js

/config/**
/public/**
/scripts/**
/appshell/**
src/components/welcomescreen/**
/src/registerServiceWorker.js
src/components/calendar/**/*
/src/utils/object.js