.djm-banner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.djm-banner-img {
  position: relative;
  height: 100%;
}
.djm-banner-img.img-pos {
  width: 100%;
}
.djm-banner-img li {
  width: 100%;
  height: 100%;
}
.djm-banner-img.img-pos li {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity ease-in 0.5s;
}
.djm-banner-img.img-float {
  transition: all ease-in 0.4s;
}
.djm-banner-img.img-float li {
  float: left;
}
.img-pos li.djm-ibi-display {
  z-index: 1;
  opacity: 1;
}
.djm-banner-img img {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.djm-banner-indicator {
  position: absolute;
  bottom: 20px;
  right: 30px;
  z-index: 40;
}
.djm-banner-indicator li {
  float: left;
  width: 20px;
  height: 4px;
  background: #aaa;
  margin-right: 5px;
  cursor: pointer;
  transform: scaleX(1);
  transform-origin: left;
  transition: all ease-in 0.2s;
}
.djm-banner-indicator li:hover,
li.djm-ibi-choose {
  background: #fff;
  transform: scaleX(1.3);
  margin-right: 12px;
}
.djm-banner-indicator li:last-child {
  margin-right: 0;
}
.djm-banner-prev,
.djm-banner-next {
  font-size: 30px;
  position: absolute;
  z-index: 100;
  top: 50%;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
  transform: translateY(-50%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.djm-banner-prev:hover::before,
.djm-banner-next:hover::before {
  color: rgba(229, 26, 72, 0.8);
}
.djm-banner-prev {
  left: 10px;
}
.djm-banner-next {
  right: 10px;
}
