/* 分页器 */
.djm-paging {
  margin: 20px 0;
  user-select: none;
}
.djm-paging span {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 28px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
}
.djm-paging span:hover,
.djm-paging span.dji-paging-choose {
  background: rgba(229, 26, 72, 1);
  color: #fff;
}
.djm-paging span:last-child {
  margin-right: 0;
}
.donot-choose {
  background: #999;
  color: #ffff;
  pointer-events: none;
}
.donot-choose:hover {
  background: #999;
  color: #ffff;
}
span.djm-paging-omit {
  border: none;
  cursor: default;
  font-size: 30px;
  height: 0;
  position: relative;
  top: -5px;
}
span.djm-paging-omit:hover {
  background: none;
  color: #999;
}
